[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
transformers = "*"
tensorflow = "*"
dbias = "*"

[dev-packages]

[requires]
python_version = "3.11"
