[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aif360 = "*"
tqdm = "*"
ipython = "*"
aequitas = {git = "https://github.com/dssg/aequitas.git"}
scikit-learn = "*"
py-functions = "*"
tensorflow = "*"
blackboxauditing = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
